<div class="mt-4 col-sm-4 mx-auto">
    <h2 class="text-center mb-5 text-primary">Đăng ký tài khoản </h2>
    <form method="POST" class="mt-5" action="/register/storeRegister">
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="desc">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="videoID">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
      
        <button type="submit" class="btn btn-primary mt-5 ml-2">ĐĂNG KÝ </button>
    </form>
</div>